/******************
 *  Game Window
 *****************/

div#game {
	position:relative;
	width:1280px;
	height:720px;
	background:#000;
	overflow:hidden;
}

div#game * {
	cursor:default;
}

/******************
 *  Game UI
 *****************/

/* Character Sheet */
div#character {
	display:inline-block;
	position:relative;
	z-index:10;
	top:4px;
	left:4px;
	/*width:500px;
	height:300px;*/
	width:102px;
	height:102px;
}

div#charimage {
	position:absolute;
	width:100px;
	height:100px;
	background:url("../img/TechnoChimp-small.jpg");
	border:solid 1px white;
	color:white;
}

div#chartab {
	position:absolute;
	/*width:100px;
	height:198px;*/
	width:0px;
	height:0px;
	left:0px;
	bottom:0px;
	border:solid 1px white;
	background:#888;
}

div#charsheet {
	position:absolute;
	/*width:396px;
	height:298px;*/
	width:0px;
	height:0px;
	right:0px;
	border:solid 1px white;
	background:#aaa;
}

/* Journal */

div#journal {
	width:60px;
	height:60px;
	background:url("../img/journal_icon.png");
	position:absolute;
	top:178px;
	left:4px;
	z-index:10;
}

/* Inventory */

div#inventory {
	width:60px;
	height:60px;
	background:url("../img/inventory_icon.png");
	position:absolute;
	top:110px;
	left:4px;
	z-index:10;
}

/* Stage Title */
/*
div#stageTitle {
	width:500px;
	height:50px;
	border:solid 1px white;
	position:absolute;
	top:4px;
	left:390px;
	border-radius:25px;
	background-color:gray;
	text-align:center;
	font-weight:bold;
	font-size:18pt;
	line-height:50px;
	z-index:9;
	cursor:default;
}
*/
#stageTitle {
	position:absolute;
	display:inline-block;
	width:500px;
	height:90px;
	top:4px;
	left:390px;
	font-weight:bold;
	font-size:18pt;
	text-align:center;
	line-height:90px;
	z-index:9;
}
.titleContent {
	position:absolute;
	width:100%;
	height:100%;
	color:#d4c3ac;
	text-shadow:#74695a -1px 1px;
}

/* Window */

div#window_layer {
	position:absolute;
	width:1280px;
	top:0px;
	left:0px;
}

div#windowWrapper {
	position:absolute;
	visibility:hidden;
	display:inline-block;
	width:750px; /* Action Window width to be as large as the largest action size. */
}

.smallWindow {width:250px; height:325px;}
.mediumWindow {width:500px; height:500px;}
.largeWindow {width:750px; height:500px;}

div#windowTitle {
	position:absolute;
	height:25px;
	width:200px;
	border:1px solid;
	border-radius:25px;
	z-index:1;
	background:gray;
	cursor:default;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	line-height:25px;
}

div#windowContent {
	padding:35px;
	position:absolute;
	display:inline-block;
	border:solid 1px;
	background-image:url("../img/window_bg.jpg");
}

div#windowContent ul {
	list-style-type:none;
}

.windowContentHalf {
	width:50%;
}
.windowContentFull {
	width:100%;
}

.window-nw {
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:50%;
	background:url('../img/window2.png');
}
.window-ne {
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:50%;
	background:url('../img/window2.png') top right;
}
.window-se {
	position:absolute;
	bottom:0;
	right:0;
	width:50%;
	height:50%;
	background:url('../img/window2.png') bottom right;
}
.window-sw {
	position:absolute;
	bottom:0;
	left:0;
	width:50%;
	height:50%;
	background:url('../img/window2.png') bottom left;
}
.corner-nw {
	width:90px;
	height:90px;
	background:url('../img/window2_corner.png');
	z-index:1;
}
.corner-ne {
	width:90px;
	height:90px;
	background:url('../img/window2_corner.png') top right;
	z-index:1;
}

/* Window Close */

#windowClose {
	position:absolute;
	top:0px;
	right:5px;
	height:24px;
	width:24px;
	border-radius:100%;
/* border and x-index temporary - remove after replacing building windows */
	border: solid 1px black;
    z-index: 1;
}


/******************
 *   Stage
 *****************/

div#stage {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:1280px;
	height:720px;
	background:#000;
	visibility:hidden;
}

/******************
 *  Character Select
 *****************/
div.charSelect {
	position:relative;
	border:solid 1px;
	width:1280px;
	height:720px;
	overflow-x:auto;
	overflow-y:hidden;
}

div.charSelect table {
	position:absolute;
	margin:10px;
	height:700px;
	background:lightgray;
	text-align:center;

}

div.charSelect table th{
	background:gray;
	font-size:18pt;
	font-weight:bold;
}

div.charSelect table td:hover {
	background:gray;
}

div.charSelect table div.character ul.charSpec {
	list-style:none;
	font-size:16pt;
	font-weight:bold;
	
}

img.charImage {
	width:350px;
	height:500px;
	background:#EDE6E0;
	border:solid 1px black;
}

/******************
 *  Character Creation
 *****************/

div#createCharacter {
	position: absolute;
	top:50%;
	left:20px;
	width:1240px;
	height:640px;
	transform:translateY(-50%);
	background:lightgray;
	display:inline-block;
}

div#createCharacter h2 {
	margin:2px;
	font-size:14pt;
	text-align:center;
}

/* Main Divs */

div#createCharacter div#charDetail {
	display:inline-block;
	height:640px;
}

div#createCharacter div#classDetail {
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	padding-top:30px;
	width:450px;
	height:610px;
}

div#createCharacter div#submitCharacter {
	display:inline-block;
	position:absolute;
	bottom:40px;
	right:175px;
	width:100px;
	height:30px;
	border:solid 1px;
	background:gray;
	cursor:default;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	line-height:30px;
}

/* Character Detail Table */

div#createCharacter table#charTable {
	margin:5% 0;
}

div#createCharacter img#charImage {
	width:350px;
	height:500px;
	background:#EDE6E0;
	border:solid 1px black;
}

div#createCharacter input#charName {
	width:250px;
	height:30px;
	font-size:18pt;
	text-align:center;
}

/* Class Selection */

div#createCharacter div#classList {
	position:absolute;
	top:60px;
	width:100px;
	display:inline-block;
}


div#createCharacter div#classDetail ul {
	list-style:none;
	margin:0px;
}

div#createCharacter div#classDetail ul li {
	padding:5px;
	border:solid 1px;
	border-radius:5px 0px 0px 5px;
	cursor:default;
}

div#createCharacter div#classDetail li.active {
	background:gray;
}

div#createCharacter div#classDesc {
	position:absolute;
	top:60px;
	right:20px;
	width:329px;
	height:400px;
	display:inline-block;
	overflow-y:auto;
	border:solid 1px;
	background:gray;
}

div#createCharacter div#classDesc p {
	margin:16px;
}

/******************
 * City Map
 *****************/

table#city {
	visibility:hidden;
	position:absolute;
	display:inline-block;
	border-collapse:collapse;
}

div.tile {
	height:128px;
	width:128px;
	padding:0px;
}

/******************
 * Quest Window
 *****************/

#questWindow {
	display:inline-block;
	position:absolute;
/* Positioning Temporary for Testing */
	top:100px;
	left:400px;
	width:274px;
	height:424px;
	background:url('../img/window.png');
}

#questWindow * {
	cursor:default;
}

#questWindow .title{
	margin:0;
	position:absolute;
	top:14px;
	left:88px;
	width:100px;
	height:14px;
	text-align:center;
	color:midnightblue;
	font-size:11pt;
	font-variant:small-caps;
	font-weight:bold;
	line-height:14px;
	text-shadow:-2px 2px lightskyblue;
}



#questWindow .questContent-head, #questWindow .questContent-foot {
	position:absolute;
	width:238px;
	background:url('../img/window.png')  -274px 0 no-repeat;
	z-index:1;
}

#questWindow .questContent-head {
	top:50px;
	left:8px;
	height:35px;
}

#questWindow .questContent .quest {
	margin:10px 0;
	padding:0 15px;
	font-size:14pt;
	font-variant:small-caps;
	font-weight:bold;
}

#questWindow .questContent{
	width:238px;
	height:337px;
}

#questWindow .questContent p {
	margin-top:10px;
	padding:15px;
	padding-top:0;
	font-size:12px;
}

#questWindow .questContent-foot{
	bottom:12px;
	left:8px;
	height:20px;
	background-position:-274px -343px;
}

#questWindow .scrollbox{
	position:relative;
	top:50px;
	left:8px;
	width:262px;
	height:312px;
	padding:25px 0;
	background:url('../img/window.png') -274px 0 no-repeat;
	overflow:auto;
}

#questWindow .track {
	width:22px;
	background:url('../img/window.png') -773px 0 no-repeat;
}

#questWindow .handle {
	width:16px;
	margin-left:3px;
	background:url('../img/window.png') -795px 0 no-repeat;
	cursor:default;
}

#questWindow .handle .top, #questWindow .handle .bottom {
    position: absolute;
    left: 0;
    width: 16px;
    height: 7px;
    background: url('../img/window.png') no-repeat;
}

#questWindow .handle .top {
    top: 0;
    background-position:-795px 0;
}

#questWindow .handle .bottom {
    bottom: 0;
    width: 16px;
    height: 7px;
    background-position:-795px -311px;
}

#questWindow .scroll-up, #questWindow .scroll-down {
    width: 22px;
    height: 22px;
}

#questWindow .scroll-up {
    background: url('../img/window.png') -274px -391px no-repeat;
}

#questWindow .scroll-up:hover {
    background-position: -296px -391px;
}

#questWindow .scroll-down {
    background: url('../img/window.png') -318px -391px no-repeat;
}

#questWindow .scroll-down:hover {
    background-position: -340px -391px;
}

#questWindow .rewards p {
	text-align:center;
	font-size:12pt;
	font-variant:small-caps;
	text-decoration:underline;
	font-weight:bold;
}

#questWindow .rewards .item {
	display:inline-flex;
	margin-left:10px;
	margin-bottom:10px;
	width:40px;
	height:40px;
	border:solid 1px black;
	border-radius:10px;
	background-color:black;
	color:ghostwhite;
	text-shadow:slateblue -1px 1px;
	font-size:10pt;
	font-weight:bold;
	align-items:flex-end;
	justify-content:flex-end;
}

#questWindow .button {
	margin:30px auto;
	width:88px;
	height:27px;
	background: url('../img/window.png') -274px -363px no-repeat;
	margin-bottom:25px;
}

#questWindow .button p {
	text-align:center;
	color:ivory;
	font-size:14pt;
	font-variant:small-caps;
	font-weight:bold;
	line-height:27px;
}

/******************
 * Inventory Sheet
 *****************/

#invSheet {
	display:inline-block;
	position:relative;
/* Positioning Temporary for Testing */
	top:100px;
	left:400px;
	width:274px;
	height:424px;
	background:url('../img/window.png');
}

#invSheet * {
	cursor:default;
}

#invSheet .title{
	margin:0;
	position:absolute;
	top:14px;
	left:88px;
	width:100px;
	height:14px;
	text-align:center;
	color:midnightblue;
	font-size:11pt;
	font-variant:small-caps;
	font-weight:bold;
	line-height:14px;
	text-shadow:-2px 2px lightskyblue;
}

#invSheet .close {
	position:absolute;
	top:0px;
	right:5px;
	height:24px;
	width:24px;
	border-radius:100%;
}

#invSheet .invContent-head, #invSheet .invContent-foot {
	position:absolute;
	width:238px;
	background:url('../img/window.png')  -512px 0 no-repeat;
	z-index:1;
}

#invSheet .invContent-head {
	top:50px;
	left:8px;
	height:10px;
	
}

#invSheet .invContent{
	width:238px;
	height:337px;
}

#invSheet .invContent-foot{
	bottom:12px;
	left:8px;
	height:10px;
	background-position:-512px -353px;
}

#invSheet .scrollbox{
	position:relative;
	top:50px;
	left:8px;
	width:262px;
	height:342px;
	padding:10px 0;
	background:url('../img/window.png') -512px 0 no-repeat;
	overflow:auto;
}

#invSheet .track {
	width:22px;
	background:url('../img/window.png') -773px 0 no-repeat;
}

#invSheet .handle {
	width:16px;
	margin-left:3px;
	background:url('../img/window.png') -795px 0 no-repeat;
	cursor:default;
}

#invSheet .handle .top, #invSheet .handle .bottom {
    position: absolute;
    left: 0;
    width: 16px;
    height: 7px;
    background: url('../img/window.png') no-repeat;
}

#invSheet .handle .top {
    top: 0;
    background-position:-795px 0;
}

#invSheet .handle .bottom {
    bottom: 0;
    width: 16px;
    height: 7px;
    background-position:-795px -311px;
}

#invSheet .scroll-up, #invSheet .scroll-down {
    width: 22px;
    height: 22px;
}

#invSheet .scroll-up {
    background: url('../img/window.png') -274px -391px no-repeat;
}

#invSheet .scroll-up:hover {
    background-position: -296px -391px;
}

#invSheet .scroll-down {
    background: url('../img/window.png') -318px -391px no-repeat;
}

#invSheet .scroll-down:hover {
    background-position: -340px -391px;
}

#invSheet .inventory {
	margin:15px auto;
	margin-top:0;
}

#invSheet .inventory td {
	padding:0;
	width:40px;
	height:40px;
	border-radius:10px;
	background-color:black;
	color:ghostwhite;
	text-shadow:slateblue -1px 1px;
	font-size:10pt;
	font-weight:bold;
	text-align:right;
	vertical-align:bottom;
}