/******************
 *  Game Window
 *****************/

div#game {
	position:relative;
	width:1280px;
	height:720px;
	background:#000;
	overflow:hidden;
}

/*
 *  Game UI
 */

/* Character Sheet */
div#character {
	display:inline-block;
	position:relative;
	z-index:10;
	top:4px;
	left:4px;
	/*width:500px;
	height:300px;*/
	width:102px;
	height:102px;
}

div#charimage {
	position:absolute;
	width:100px;
	height:100px;
	background:url("../img/TechnoChimp-small.jpg");
	border:solid 1px white;
	color:white;
}

div#chartab {
	position:absolute;
	/*width:100px;
	height:198px;*/
	width:0px;
	height:0px;
	left:0px;
	bottom:0px;
	border:solid 1px white;
	background:#888;
}

div#charsheet {
	position:absolute;
	/*width:396px;
	height:298px;*/
	width:0px;
	height:0px;
	right:0px;
	border:solid 1px white;
	background:#aaa;
}

/* Stage Title */

div#stageTitle {
	width:500px;
	height:50px;
	border:solid 1px white;
	position:absolute;
	top:4px;
	left:390px;
	border-radius:25px;
	background-color:gray;
	text-align:center;
	font-weight:bold;
	font-size:18pt;
	line-height:50px;
	z-index:9;
	cursor:default;
}

/* Inventory Sheet */

div#inventory {
	width:64px;
	height:64px;
	background:url("../img/inventory_icon.png");
	position:absolute;
	top:108px;
	left:4px;
	z-index:10;
}

div#invBox {
	height:100%;
	overflow-y:auto;
}

table#invTable {
	margin:0 auto;
	border-collapse:separate;
}

table#invTable td {
	border:1px solid black;
	border-radius:10px;
}

table#invTable td {
	padding:0px;
	width:60px;
	height:60px;
}

/* Window */

div#window_layer {
	position:absolute;
	width:1280px;
	top:0px;
	left:0px;
}

div#windowWrapper {
	position:absolute;
	visibility:hidden;
	display:inline-block;
	width:750px; /* Action Window width to be as large as the largest action size. */
}

.smallWindow {width:250px; height:325px;}
.mediumWindow {width:500px; height:500px;}
.largeWindow {width:750px; height:500px;}

div#windowTitle {
	position:absolute;
	height:25px;
	width:200px;
	border:1px solid;
	border-radius:25px;
	z-index:1;
	background:gray;
	cursor:default;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	line-height:25px;
}

div#windowClose {
	position:absolute;
	height:25px;
	width:25px;
	border:solid 1px;
	border-radius:100%;
	font-size:18pt;
	font-weight:bold;
	line-height:26px;
	text-indent:4px;
	z-index:1;
	cursor:default;
}

div#windowContent {
	padding:35px;
	position:absolute;
	display:inline-block;
	border:solid 1px;
	background-image:url("../img/window_bg.png");
}

div#windowContent ul {
	list-style-type:none;
}

.windowContentHalf {
	width:50%;
}
.windowContentFull {
	width:100%;
}

/******************
 *   Stage
 *****************/

div#stage {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:1280px;
	height:720px;
	background:#000;
	visibility:hidden;
}

/******************
 *  Character Select
 *****************/
div.charSelect {
	position:relative;
	border:solid 1px;
	width:1280px;
	height:720px;
	overflow-x:auto;
	overflow-y:hidden;
}

div.charSelect table {
	position:absolute;
	margin:10px;
	height:700px;
	background:lightgray;
	text-align:center;

}

div.charSelect table th{
	background:gray;
	font-size:18pt;
	font-weight:bold;
}

div.charSelect table td:hover {
	background:gray;
}

div.charSelect table div.character ul.charSpec {
	list-style:none;
	font-size:16pt;
	font-weight:bold;
	
}

img.charImage {
	width:350px;
	height:500px;
	background:#EDE6E0;
	border:solid 1px black;
}

/******************
 *  Character Creation
 *****************/
div#createCharacter {
	position: absolute;
	top:50%;
	left:20px;
	width:1240px;
	height:640px;
	transform:translateY(-50%);
	background:lightgray;
	display:inline-block;
}

div#createCharacter h2 {
	margin:2px;
	font-size:14pt;
	text-align:center;
}

/* Main Divs */

div#createCharacter div#charDetail {
	display:inline-block;
	height:640px;
}

div#createCharacter div#classDetail {
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	padding-top:30px;
	width:450px;
	height:610px;
}

div#createCharacter div#submitCharacter {
	display:inline-block;
	position:absolute;
	bottom:40px;
	right:175px;
	width:100px;
	height:30px;
	border:solid 1px;
	background:gray;
	cursor:default;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	line-height:30px;
}

/* Character Detail Table */

div#createCharacter table#charTable {
	margin:5% 0;
}

div#createCharacter img#charImage {
	width:350px;
	height:500px;
	background:#EDE6E0;
	border:solid 1px black;
}

div#createCharacter input#charName {
	width:250px;
	height:30px;
	font-size:18pt;
	text-align:center;
}

/* Class Selection */

div#createCharacter div#classList {
	position:absolute;
	top:60px;
	width:100px;
	display:inline-block;
}


div#createCharacter div#classDetail ul {
	list-style:none;
	margin:0px;
}

div#createCharacter div#classDetail ul li {
	padding:5px;
	border:solid 1px;
	border-radius:5px 0px 0px 5px;
	cursor:default;
}

div#createCharacter div#classDetail li.active {
	background:gray;
}

div#createCharacter div#classDesc {
	position:absolute;
	top:60px;
	right:20px;
	width:329px;
	height:400px;
	display:inline-block;
	overflow-y:auto;
	border:solid 1px;
	background:gray;
}

div#createCharacter div#classDesc p {
	margin:16px;
}

/******************
 * City Map
 *****************/

table#city {
	visibility:hidden;
	position:absolute;
	display:inline-block;
	border-collapse:collapse;
}

div.tile {
	height:128px;
	width:128px;
	padding:0px;
}