div#game {
	position:relative;
	width:1280px;
	height:720px;
	background:#000;
}

div#character {
	display:inline-block;
	position:relative;
	z-index:10;
	top:4px;
	left:4px;
	width:500px;
	height:300px;
}

div#charimage {
	position:absolute;
	width:100px;
	height:100px;
	background:url("../images/TechnoChimp-small.jpg");
	border:solid 1px white;
	color:white;
}

div#chartab {
	display:none;
	position:absolute;
	width:100px;
	height:198px;
	left:0px;
	bottom:0px;
	border:solid 1px white;
	background:#888;
}

div#charsheet {
	display:none;
	position:absolute;
	width:396px;
	height:298px;
	right:0px;
	border:solid 1px white;
	background:#aaa;
}

div#stage {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:1280px;
	height:720px;
	background:#000;
}

.city{
	position:relative;
	top:-360px;
	left:-80px;
	transform:rotateX(60deg) rotateZ(45deg);
	border-spacing:0px;
}

.city tr {
	width:0px;
	height:0px;
}

.city td {
	width:0px;
	height:0px;
	padding:0px;
}

.tile {
	transform:rotateX(0deg);
	width:45px;
	height:45px;
}

.tile>div {
	transform:rotateZ(-45deg) rotateY(-60deg);
	width:128px;
	height:128px;
	
}

div.tile00{background:url('../images/iso.png') -0px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile01{background:url('../images/iso.png') -0px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile02{background:url('../images/iso.png') -0px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile03{background:url('../images/iso.png') -0px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile04{background:url('../images/iso.png') -0px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile05{background:url('../images/iso.png') -0px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile06{background:url('../images/iso.png') -0px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile07{background:url('../images/iso.png') -0px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile08{background:url('../images/iso.png') -0px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile09{background:url('../images/iso.png') -0px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile10{background:url('../images/iso.png') -128px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile11{background:url('../images/iso.png') -128px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile12{background:url('../images/iso.png') -128px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile13{background:url('../images/iso.png') -128px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile14{background:url('../images/iso.png') -128px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile15{background:url('../images/iso.png') -128px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile16{background:url('../images/iso.png') -128px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile17{background:url('../images/iso.png') -128px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile18{background:url('../images/iso.png') -128px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile19{background:url('../images/iso.png') -128px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile20{background:url('../images/iso.png') -256px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile21{background:url('../images/iso.png') -256px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile22{background:url('../images/iso.png') -256px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile23{background:url('../images/iso.png') -256px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile24{background:url('../images/iso.png') -256px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile25{background:url('../images/iso.png') -256px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile26{background:url('../images/iso.png') -256px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile27{background:url('../images/iso.png') -256px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile28{background:url('../images/iso.png') -256px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile29{background:url('../images/iso.png') -256px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile30{background:url('../images/iso.png') -384px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile31{background:url('../images/iso.png') -384px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile32{background:url('../images/iso.png') -384px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile33{background:url('../images/iso.png') -384px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile34{background:url('../images/iso.png') -384px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile35{background:url('../images/iso.png') -384px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile36{background:url('../images/iso.png') -384px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile37{background:url('../images/iso.png') -384px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile38{background:url('../images/iso.png') -384px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile39{background:url('../images/iso.png') -384px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile40{background:url('../images/iso.png') -512px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile41{background:url('../images/iso.png') -512px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile42{background:url('../images/iso.png') -512px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile43{background:url('../images/iso.png') -512px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile44{background:url('../images/iso.png') -512px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile45{background:url('../images/iso.png') -512px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile46{background:url('../images/iso.png') -512px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile47{background:url('../images/iso.png') -512px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile48{background:url('../images/iso.png') -512px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile49{background:url('../images/iso.png') -512px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile50{background:url('../images/iso.png') -640px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile51{background:url('../images/iso.png') -640px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile52{background:url('../images/iso.png') -640px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile53{background:url('../images/iso.png') -640px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile54{background:url('../images/iso.png') -640px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile55{background:url('../images/iso.png') -640px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile56{background:url('../images/iso.png') -640px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile57{background:url('../images/iso.png') -640px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile58{background:url('../images/iso.png') -640px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile59{background:url('../images/iso.png') -640px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile60{background:url('../images/iso.png') -768px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile61{background:url('../images/iso.png') -768px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile62{background:url('../images/iso.png') -768px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile63{background:url('../images/iso.png') -768px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile64{background:url('../images/iso.png') -768px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile65{background:url('../images/iso.png') -768px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile66{background:url('../images/iso.png') -768px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile67{background:url('../images/iso.png') -768px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile68{background:url('../images/iso.png') -768px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile69{background:url('../images/iso.png') -768px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile70{background:url('../images/iso.png') -896px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile71{background:url('../images/iso.png') -896px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile72{background:url('../images/iso.png') -896px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile73{background:url('../images/iso.png') -896px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile74{background:url('../images/iso.png') -896px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile75{background:url('../images/iso.png') -896px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile76{background:url('../images/iso.png') -896px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile77{background:url('../images/iso.png') -896px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile78{background:url('../images/iso.png') -896px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile79{background:url('../images/iso.png') -896px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile80{background:url('../images/iso.png') -1024px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile81{background:url('../images/iso.png') -1024px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile82{background:url('../images/iso.png') -1024px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile83{background:url('../images/iso.png') -1024px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile84{background:url('../images/iso.png') -1024px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile85{background:url('../images/iso.png') -1024px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile86{background:url('../images/iso.png') -1024px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile87{background:url('../images/iso.png') -1024px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile88{background:url('../images/iso.png') -1024px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile89{background:url('../images/iso.png') -1024px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile90{background:url('../images/iso.png') -1152px -0px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile91{background:url('../images/iso.png') -1152px -128px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile92{background:url('../images/iso.png') -1152px -256px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile93{background:url('../images/iso.png') -1152px -384px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile94{background:url('../images/iso.png') -1152px -512px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile95{background:url('../images/iso.png') -1152px -640px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile96{background:url('../images/iso.png') -1152px -768px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile97{background:url('../images/iso.png') -1152px -896px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile98{background:url('../images/iso.png') -1152px -1024px;background-size:1000%;position:relative;top:-64px;left:-64px;}
div.tile99{background:url('../images/iso.png') -1152px -1152px;background-size:1000%;position:relative;top:-64px;left:-64px;}