/*
 *  Game Window
 */

div#game {
	position:relative;
	width:1280px;
	height:720px;
	background:#000;
	overflow:hidden;
}

/*
 *  Game UI
 */

div#character {
	display:inline-block;
	position:relative;
	z-index:10;
	top:4px;
	left:4px;
	width:500px;
	height:300px;
}

div#charimage {
	position:absolute;
	width:100px;
	height:100px;
	background:url("../img/TechnoChimp-small.jpg");
	border:solid 1px white;
	color:white;
}

div#chartab {
	display:none;
	position:absolute;
	width:100px;
	height:198px;
	left:0px;
	bottom:0px;
	border:solid 1px white;
	background:#888;
}

div#charsheet {
	display:none;
	position:absolute;
	width:396px;
	height:298px;
	right:0px;
	border:solid 1px white;
	background:#aaa;
}

div#stageTitle {
	width:500px;
	height:50px;
	border:solid 1px white;
	position:absolute;
	top:4px;
	left:390px;
	border-radius:25px;
	background-color:gray;
	text-align:center;
	font-weight:bold;
	font-size:18pt;
	line-height:50px;
	z-index:9;
	cursor:default;
}

/*
 *  Game Stage
 */

div#stage {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:1280px;
	height:720px;
	background:#000;
	visibility:hidden;
}

/*
 *  Action Window
 */

div#action {
	position:relative;
	margin-top:-306px;
}

div.actionWindow {
	border:solid 1px;
	position:absolute;
	visibility:hidden;
	display:inline-block;
	width:750px; /* Action Window width to be as large as the largest action size. */
}

.smallAction {max-width:250px;}
.mediumAction {max-width:500px;}
.largeAction {max-width:750px;}

div.actionWindow div.actionTitle {
	position:absolute;
	height:25px;
	width:200px;
	border:1px solid;
	border-radius:25px;
	z-index:1;
	background:gray;
	cursor:default;
}

div.actionWindow div.actionTitle  h3 {
	margin:0px;
	text-align:center;
}

div.actionWindow div.actionClose {
	position:absolute;
	height:25px;
	width:25px;
	border:solid 1px;
	border-radius:100%;
	font-size:18pt;
	font-weight:bold;
	line-height:26px;
	text-indent:4px;
	z-index:1;
	cursor:default;
}

div.actionWindow div.actionData {
	padding:10px;
	position:absolute;
	display:inline-block;
	border:solid 1px;
	background:lightgray;

}

/*
 * City Map
 */

div.city {
	visibility:hidden;
	position:absolute;
	display:inline-block;
}

div.city table.cityMap {
	border-collapse:collapse;
	background-color:green;
}

div.tile {
	height:128px;
	width:128px;
	border:solid 1px;
	padding:0px;
}

#capitol {
	background-image:url('../img/buildings.png');
	background-position:-292px -185px;
	background-size:430px 430px;
}