/*
 *  Game Window
 */

div#game {
	position:relative;
	width:1280px;
	height:720px;
	background:#000;
	overflow:hidden;
}

/*
 *  Game UI
 */

/* Character Sheet */
div#character {
	display:inline-block;
	position:relative;
	z-index:10;
	top:4px;
	left:4px;
	/*width:500px;
	height:300px;*/
	width:102px;
	height:102px;
}

div#charimage {
	position:absolute;
	width:100px;
	height:100px;
	background:url("../img/TechnoChimp-small.jpg");
	border:solid 1px white;
	color:white;
}

div#chartab {
	position:absolute;
	/*width:100px;
	height:198px;*/
	width:0px;
	height:0px;
	left:0px;
	bottom:0px;
	border:solid 1px white;
	background:#888;
}

div#charsheet {
	position:absolute;
	/*width:396px;
	height:298px;*/
	width:0px;
	height:0px;
	right:0px;
	border:solid 1px white;
	background:#aaa;
}

/* Stage Title */

div#stageTitle {
	width:500px;
	height:50px;
	border:solid 1px white;
	position:absolute;
	top:4px;
	left:390px;
	border-radius:25px;
	background-color:gray;
	text-align:center;
	font-weight:bold;
	font-size:18pt;
	line-height:50px;
	z-index:9;
	cursor:default;
}

/* Inventory Sheet */

div#inventory {
	width:50px;
	height:50px;
	border:solid 1px white;
	position:absolute;
	top:108px;
	left:4px;
	z-index:10;
}

/* Window */

div#window_layer {
	position:absolute;
	width:1280px;
	top:0px;
	left:0px;
}

div#windowWrapper {
	border:solid 1px;
	position:absolute;
	visibility:hidden;
	display:inline-block;
	width:750px; /* Action Window width to be as large as the largest action size. */
}

.smallWindow {width:250px; height:325px;}
.mediumWindow {width:500px; height:500px;}
.largeWindow {width:750px; height:500px;}

div#windowTitle {
	position:absolute;
	height:25px;
	width:200px;
	border:1px solid;
	border-radius:25px;
	z-index:1;
	background:gray;
	cursor:default;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	line-height:25px;
}

div#windowClose {
	position:absolute;
	height:25px;
	width:25px;
	border:solid 1px;
	border-radius:100%;
	font-size:18pt;
	font-weight:bold;
	line-height:26px;
	text-indent:4px;
	z-index:1;
	cursor:default;
}

div#windowContent {
	padding:35px;
	position:absolute;
	display:inline-block;
	border:solid 1px;
	background:lightgray;
}

div#windowContent ul {
	list-style-type:none;
}

.windowContentHalf {
	width:50%;
}
.windowContentFull {
	width:100%;
}

/*
 *   Stage
 */

div#stage {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:1280px;
	height:720px;
	background-image:#000;
	visibility:hidden;
}

/*
 *  Character Select
 */

div.charSelect table {
	position:absolute;
	top:10px;
	left:30px;
	height:700px;
	background:lightgray;
	max-width:1200px;
	text-align:center;
}

div.charSelect table th{
	background:gray;
	font-size:18pt;
	font-weight:bold;
}

div.charSelect table td:hover {
	background:gray;
}

div.charSelect table div.character ul.charSpec {
	list-style:none;
	font-size:16pt;
	font-weight:bold;
}

img.charImage {
	width:350px;
	height:500px;
	background:white;
	border:solid 1px black;
}

/*
 * City Map
 */

div.city {
	visibility:hidden;
	position:absolute;
	display:inline-block;
}

div.city table.cityMap {
	border-collapse:collapse;
	background-color:green;
}

div.tile {
	height:128px;
	width:128px;
	border:solid 1px;
	padding:0px;
}

#capitol {
	background-image:url('../img/buildings.png');
	background-position:-292px -185px;
	background-size:430px 430px;
}