<link href="css/menu.css" rel="stylesheet" type="text/css" media="screen" />

<ul id="menu">
	<li><a class="navlink" pageId="home" href="#">Home</a></li>
    <li>
    	<a href="#" class="drop">Game</a>
		<div class="dropdown_1column">
			<div class="col_1">
				<a class="navlink" pageId="game" href=#><h2>Launch Game</h2></a>
			</div>
		</div>
	</li>
	<li>
	</li>
	<li>
		<a href="#" class="drop" id="test">Testing</a>
	</li>
	<li id="auth" class="menu_right">
	</li>
</ul>

<script type="text/javascript">
	$(document).ready(function() {
		// Load login form (should be empty, but just in case)
		$('#auth').empty();
		$('#auth').load('templates/login.html');

		// Call page when link clicked
		$(document).on("click", ".navlink", function() {
			var pageId = $(this).attr('pageId');
			$('#content').load('pages/'+pageId+'.html');
		});
		
		// Test button
		$('#test').click(function() {
			console.log(localStorage.getItem("userAuth"));
		});
		
//		$('#login').click(function(e) {
		$(document).on("click", "#login", function(e) {
			// Disable posting form data to webpage
			e.preventDefault();

			// Gather form data and format it into basic auth
			var formData = $('#loginForm').serializeArray();
			var username = formData[0].value;
			var password = formData[1].value;
			var basicAuth = btoa(username+':'+password);
			
			// Store username into localStorage
			localStorage.setItem("username", username);
			
			$.ajax({
				url: "../api/game/login",
				type: "POST",
				headers: {'Authorization': 'Basic '+basicAuth},
				success: function(resultdata)
				{
					// Set the global userAuth variable
					localStorage.setItem("userAuth", basicAuth);
					
					// Replace Login button with Logout button
					$('#auth').empty();
					$('#auth').html('<a id="logout" href="#">'+username+' (Logout)</a>');
					
					// Redirect user to home page
					$('#content').load('pages/home.html');
					
					// Logout button action
					$('#logout').click(function() {
						// Empty userAuth variable (redo this so the login section can be reloaded)
						localStorage.clear();
						$('#auth').empty();
						$('#auth').load('templates/login.html');
					});
					
				},
				error: function(resultdata)
				{
					console.log(resultdata);
				}
			});
		});
		
	});
</script>