<link href="css/menu.css" rel="stylesheet" type="text/css" media="screen" />

<ul id="menu">
	<li><a class="navlink" pageId="home" href="#">Home</a></li>
    <li>
    	<a href="#" class="drop">Game</a>
		<div class="dropdown_1column">
			<div class="col_1">
				<a class="navlink" pageId="game" href=#><h2>Launch Game</h2></a>
			</div>
		</div>
	</li>
	<li>
	</li>
	<li>
		<a href="#" class="drop" id="test">Testing</a>
	</li>
	<li id="auth" class="menu_right">
	</li>
</ul>

<script type="text/javascript">
	$(document).ready(function() {
		// Call page when link clicked
		$(document).on("click", ".navlink", function() {
			var pageId = $(this).attr('pageId');
			$('#content').load('pages/'+pageId+'.html');
		});
		
		// Test button
		$('#test').click(function() {
			console.log(localStorage.getItem("userAuth"));
		});
	});
</script>